.headerSystem{
    display: flex;
    align-items: center;
    padding-left: 1rem;
    flex-direction: row;
    position: fixed;
    margin-bottom: 15px;
    top: 0;
    left: 0;
    width: 100%;
    height: 4rem;
    background: #fcbf1e;
}

.headerSystem h1{
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
