.MainMenuContainer{
    width: 100%;
    max-width: 1120px;
    height: 100vh;
    margin: 0 auto;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.MainMenuContainer .content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: column;
    flex-wrap: wrap;
    width: 45%;
    padding: 20px;
    background: #035aa6;
    border-radius: 10px;
}
.MainMenuContainer .content li{
    margin-top: 1.5rem;
}

.MainMenuContainer .content li a{
    color: black;
} 
